.about-wrapper{
   padding: 5% 2%;
   background: url('../images/About-Me-image---color.jpg') no-repeat;
   text-align: center;
   background-size: cover;
   background-position: right center;
   @include desktopBreakpoint(){
      background-position: center center;
      min-height: 600px;
      display: flex;
      justify-content: flex-end;
      & > *{
         flex: 1;
      }
   }
}

.about{
   position: relative;

   padding: 0 40px;
   h1{
      font-size: 130px;
      margin: 0;
      padding: 7rem 0 .4rem 0;
   }
   p{
      font-family: 'Playfair-reg', sans-serif;
      color: $Gray;
      margin: 0;
      padding: 0px 0 40px;
      line-height: 2;
      font-size: 14px;
   }
   .profile_img{
      height: 175px;
      width: 175px;
      position: absolute;
      top: 0;

      left: 50%;
      transform: translate(-50%, -20%);
      img{
         box-shadow: 5px 1px 34px -4px $ShadowOrange;

         border-radius: 50%;
      }

   }
   @include desktopBreakpoint(){
      // min-height: 600px;

      .profile_img{
         display: none;
      }
      h1{
         padding: 0;
      }
      p{
         font-size: 20px;
         padding: 0 3rem;
      }
      a{

         font-size: 18px;
         margin: 1rem 0;
         display: block;
         color: $BrightOrange;
      }
   }
}
