.about{
   position: relative;
   background: url('../images/About-Me-image---color.jpg')center center no-repeat;
   text-align: center;
   background-size: cover;
   background-position-x: right;
   padding: 0 40px;
   h1{
    font-size: 130px;
    margin: 0;
    padding: 7rem 0 .4rem 0;
   }
   p{
      font-family: 'Playfair-reg', sans-serif;
      color: $Gray;
      margin: 0;
      padding: 40px 0;
      line-height: 2;
   }
   .profile_img{
      height: 175px;
      width: 175px;
      position: absolute;
      top: 0;

      left: 50%;
      transform: translate(-50%, -20%);
      img{
         box-shadow: 5px 1px 34px -4px $ShadowOrange;

         border-radius: 50%;
      }

   }
}
