
.branding{
    position: relative;
    background: url('../images/B_background.png') center center no-repeat;
    background-size: 140%;
    background-position-y: top;
    background-position-x: initial;
    min-height: 600px;

    .branding__content{

        #lightning{
            height: 60px;
            width: 60px;
        }
        font-family: "Playfair-italic", serif;
        position: absolute;
        font-weight: lighter;
        bottom: 30px;
        right: 20px;
        text-align: right;
        h3{
            margin: .5em;
        }
    }
}