body{
   background: url("../images/Homepage_fixed-image.jpg")no-repeat;
   background-attachment: fixed;
   background-position-y: 16.4%;
   // background-size: cover;
   @include desktopBreakpoint(){
      background-size: cover;
      background-position: top center;
   }

}

.header{
   min-height: 800px;
   padding: 200px 0;
   .header_content{
      text-align: center;
      padding: 0 40px;
      h3{
         font-family: "Playfair-italic";
         letter-spacing: 3px;
         color: #FFF;
         margin: 2em 0;
      }
      #lightning{
         width: 75px;
         height: 75px;
         .cls-1{
            fill: #e74c3c;

         }
      }
   @include desktopBreakpoint{
      img{
         width: 60%;
         margin: 0 auto;
      }
   }
   }
}
