@mixin remove-list-styles(){
   list-style: none;
   padding: 0;
   margin: 0;
}



@mixin anchor-default(){
   color: inherit;
   text-decoration: none;
   &:visited{
      color: inherit;
   }

}
@mixin backgroundCover($image){
    background: url($image)center center no-repeat;
    background-size: cover;
}

@mixin desktopBreakpoint(){
   @media (min-width: 600px){ @content;}
}
@mixin flexCenterAll(){
   display: flex;
   justify-content: center;
   align-items: center;
}
