
// *********COLORS***********
$Gray: rgb(128, 130, 133);
$LightGray: #bdc3c7;
$Tan: rgb(227, 227, 201);
$Orange: rgb(233, 109, 63);
$BrightOrange: rgb(255, 117, 8);
$ShadowOrange: rgba(255, 117, 80, 0.53);
//*********END COLORS*********
