
// *********COLORS***********
$Gray: #5E5E60;
$LightGray: #bdc3c7;
$CamoGreen: #E2E2C8;
$Tan: rgb(227, 227, 201);
$Orange: rgb(233, 109, 63);
$BrightOrange: rgb(255, 117, 8);
$Tangerine: #FFB836;
$ShadowOrange: rgba(255, 117, 80, 0.53);
//*********END COLORS*********
