.work{
   background: #FFF;
      a{
        font-family: "Playfair-italic", serif;
        color: $BrightOrange;

      }
   .work_title{
      font-size: 150px;
      margin: 0;
   }
   .work_header{
      margin: 0 30px;
      hr{
       border: solid 8px $Tangerine;
      }
      h3{
        margin: 0;
        padding: 10px;
        font-size: .9rem;
        letter-spacing: .5rem;
        font-weight: 600;
      }
      .work_header__title{
        display: flex;
        justify-content: center;

        h1{
          bottom: 49px;
          margin: 0;
          font-size: 120px;
          position: relative;
        }
      }
   }

   .work_grid{
      display: flex;
      flex-direction: column;
      align-items: center;
      .work_grid_item{
         width: 300px;
         margin: .5rem;
         height: 300px;
         background: $LightGray;
      }

   }
   .work_contact{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 400px;
      color: #FFF;
      background:linear-gradient(172deg, #FFF, #FFF 44%, $Tan 0%, $Tan 100%);
      #lightning{
         position: relative;
         bottom: 20px;
         height: 100px;
         width: 100px;
      }
.work_contact__info{
   position: absolute;
       bottom: 30px;
       width: 100%;
         .icon-link{
            font-size: 0;
            padding: 10px;
            .cls-1{
               fill: #FFF;
            }
         }
      }
   }
}
