@import "./imports/_normalize.scss";
@import './_variables.scss';
@import './_mixins.scss';
@import "./_nav.scss";
@import './_header.scss';
@import './_about-section.scss';
@import "./_work.scss";
@import "./_branding.scss";
@font-face {
		font-family: "ITC-Light";
		src: url("./fonts/ITCAvantGardeStd-XLt.otf") format("opentype");
}
@font-face {
		font-family: "Playfair-reg";
		src: url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair-italic";
    src: url("./fonts/PlayfairDisplay-Italic.ttf") format('truetype');
}

@font-face {
		font-family: "ITC-STD";
		src: url("./fonts/ITCAvantGardeStd-Md.otf") format("opentype");
}
@font-face {
		font-family: "Pretty-Pen";
		src: url("./fonts/Pretty-Pen-Regular.ttf") format("truetype");
}


*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}
body{
   font-family: 'ITC-Light';
   color: $Gray;
}
h1{
   font-family: 'Pretty-Pen';
   color: $BrightOrange;
   font-weight: 100;
}
.text-center{
   text-align: center;
}
.text-shadow{
text-shadow: 1px 1px 2px rgba(39, 39, 39, 1);}
.hide{
   display: none;
}
.hide-mobile{
	display: none;
	@include desktopBreakpoint(){
		display: initial;
	}
}

.icon{
   height: 30px;
   width: 30px;
	.cls-1{
		fill: #ff7550;
	}
}
#email{
   transform: rotateX(90);
}
